/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: 'Cairo', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-image: url(./Countries\ and\ Currencies\ of\ the\ World.jpg);
  background-repeat:no-repeat ;
  background-size: cover;
  position: relative;
  height: 100vh;
  padding: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button:active {
  outline: none;
}

/* end global rules */

.container{
  padding: 15px; 
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: rgba(5, 12, 24, 0.788);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 5px;
  height: 100%;
}
.container h1 {
  color: #17a2b8;
}
.container .prices{
  display: flex;
  gap: 30px;
  margin: 30px;
  height: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container  .amount{
  padding: 10px 15px;
  color: white;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  font-size: 22px;
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
  margin: 20px auto 0;
}
.container .prices div{
  font-size: 25px;
  border: 1px solid white;
  width: 600px;
  height: fit-content;
  padding: 10px;
  margin: 7px 0;
  color: white;
}
@media (max-width:1360px) {
  .container .prices div{
    width: 500px;
  }
}
@media (max-width:1160px) {
  .container .prices div{
    width: 450px;
  }
}
@media (max-width:1060px) {
  .container .prices div{
    width: 420px;
  }
}
@media (max-width:1000px) {
  .container .prices div{
    width: 370px;
  }
}
@media (max-width:900px) {
  .container .prices div{
    width: 100%;
    font-size: 19px;
  }
}
.container .prices div span{
  color: white;
  font-weight: bold;
  margin-left: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.prices div{
  display: flex;
}
